.fa-youtube-play{

    color: red;
}
.fa-telegram{
    color: rgb(68, 178, 237);
}
.fa-facebook{
    color: rgb(42, 155, 216);
}
.fa-phone{
    color: green;
}
.fa-instagram{
    /* color: rgb(253, 29, 29); */
    color: rgb(245, 96, 64);
    
    
    
}
span{
    background: black;
}
.fa-location-dot{
    color: red;
}
/* ::-webkit-scrollbar-track{
    background: rgb(221, 116, 42);
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) ;
    
}
::-webkit-scrollbar {
    width: 15px; 
}
::-webkit-scrollbar-thumb {
    background: #020202; 
    border-radius: 8px; 
    border: 3px solid #f5cdcd; 
}
::-webkit-scrollbar-thumb:hover {
    background: #fffdfd; 
} */
body{
    background: url(7.jpg) no-repeat left  top fixed;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
   
  
    background-size: cover;
    
    
    
}
#myVideo {
    position: fixed;
    right: 0;
   
    bottom: 0;

    
    min-width: 100%; 
    min-height: 100%;
}
.header{
    max-height:100%;
  /* position:relative; */
  overflow-y:auto;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;

}
/* .header__main{
    align-items: center;
    justify-content: center;
} */
.header__title{
    font-weight: 800;
    color: rgb(250, 242, 242);
    font-size: 51px;
    justify-content: center;
    letter-spacing: 2px;
    text-align: center;
  font-family: "Light" ;
  
  
   
}
@font-face {
   
    font-family: "Light"; 
   
    /* src: url("./font/BankGothicBT-Light.ttf") format("truetype");  */
    src: url("BankGothicBT-Light.ttf") format("truetype"); 
    /* font-style: normal; 
    font-weight: normal;  */
    } 
.haeder__text{
   display: block;
    justify-content: center;
    text-align: center;
    font-size: 42px;
 /* font-family: cursive; */
    padding-top: 10px;
    font-family: 'Brygada 1918', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Zilla Slab', serif;
   color: rgb(251, 242, 242);
  
   
    
}
.haeder__text-1{
    text-align: center;
    color: rgb(239, 222, 222);
    font-size: 37px;
    
   
    /* font-family: cursive; */
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Brygada 1918', serif;
    font-family: 'Brygada 1918', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Zilla Slab', serif;
}
.btn__info-link{
    padding: 10px 30px;
    border-radius: 15px;
    color: whitesmoke;
    /* font-family: cursive; */
    margin: 10px 0;
    font-weight: bold;
    font-size: 25px;
    background: rgba(83, 77, 77, 0.533);
    width: 830px;
    max-width: 100%;
    align-items: center;
    text-align: center;
    transition: 500ms;
}

    /* @keyframes glowing {
        0% { background-color: #00000042; box-shadow: 0 0 5px #14f9ea }
        50% { background-color: #0000002c; box-shadow: 0 0 20px #04ffa3; }
        100% { background-color: #0000003e; box-shadow: 0 0 5px #03e8a3; }
        }
        .btn__info-link {
        animation: glowing 1500ms infinite ;
        
        } */
        @keyframes glowing {
            0% { background-color: #00000091; box-shadow: 0 0 5px #fbfbfa }
            50% { background-color: #00000097; box-shadow: 0 0 20px #f9f8f5e3; }
            100% { background-color: #0000009f; box-shadow: 0 0 5px #fcfbf7ef; }
            }
            .btn__info-link {
            animation: glowing 1500ms infinite ;
            
            }
.a4{
    padding: 7px;
    font-size: 30px;
    align-items: center;
}
.btn__info{
    max-width: 100%;
}
.btn__info-link:hover{
    transform: scale(1.2);
}

body {
    margin: 0;
    /* font-family: Arial; */
    font-size: 17px;
   
}
.header{
    position: fixed;
    top: 0;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 0, 0, 0.5); */
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
}
.btn__info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

}
.reklama{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    color: rgb(246, 244, 244);
}
.reklama-title{
    padding-top: 7px;
    text-align: center;
    font-size: 30px;
    color: rgb(244, 234, 234);
}
.round{
    border-radius: 100px;
    align-items: center;
    
   width:  180px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   max-width: 100%;
}
.klient{
    display: flex;
    flex-direction: column;
   
  
    height: auto;
    align-items: center;
    justify-content: center;
   
}
.reklama-title-1{
    font-size: 36px;
    padding-top: 10px;
}


.klient_img{
    padding-top: 20px;
   
      height: 110px;
      
      
      
      
  }
  .eva{
    height: 150px;
  }
  .cardinar{
    height: 130px;
  }
  .kor{
    padding-left: 20px;
  }









@media (max-width: 600px){
    .klient_img{
        height: 69px;
        
        
    }}
    @media (max-width: 520px){
        .header__title{
            font-size: 48px;
        }}

        @media (max-width: 490px){
            .header__title{
                font-size: 42px;
            }
            .klient_img{
                height: 63px;
                
                
            }}
            
            @media (max-width: 419px){
                .header__title{
                    font-size: 34px;
                }}         



    @media (max-width: 460px){
        .klient_img{
            height: 61px;
           
            
        }}
       
        @media (max-width: 363px){
            .header__title{
                font-size: 32px;
            }}

@media (max-width: 420px){
    .klient_img{
        height: 56px;
       
        
    }
    .reklama-title-1{
        font-size: 29px;
    }
    .reklama-title{
        font-size: 27px;
    }
    }
    @media (max-width: 410px){
        .klient_img{
            height: 54px;
           
            
        }}
        @media (max-width: 380px){
            .header__title{
                font-size: 31px;
            }}    
        @media (max-width: 370px){
            .klient_img{
                height: 52px;
               
                
            }}
        @media (max-width: 329px){
            .klient_img{
                height: 45px;
               
                
            }}
           
    @media (max-width: 407px){
        /* .klient_img{
            padding-top: 20px;
              width: 60px;
              height: 61px;
              
          } */
       
        .haeder__text{
            font-size: 32px;
        }
        .haeder__text-1{
            font-size: 28px;
        }
       
        .a4{
            font-size: 25px;
        }
        }
        @media (max-width: 375px){
            .round{
                width: 160px;
            }
            .haeder__text-1{
                font-size: 24px;
            }
            .haeder__text{
                font-size: 25px;
            }
            .reklama-title{
                font-size: 25px;
            }
            .btn__info-link{
                font-size: 22px;
            }
            .a4{
                font-size: 25px;
            }
            }
            @media (max-width: 363px){
                .header__title{
                    font-size: 32px;
                }
                .haeder__text-1{
                    font-size: 24px;
                }
                .haeder__text{
                    font-size: 22px;
                }
                .reklama-title{
                    font-size: 23px;
                }
                .btn__info-link{
                    font-size: 19px;
                }
            }
            @media (max-width: 334px){
                .header__title{
                    font-size: 26px;
                }
                .haeder__text-1{
                    font-size: 20px;
                }
                .haeder__text{
                    font-size: 24px;
                }
                .reklama-title{
                    font-size: 26px;
                }
                .btn__info-link{
                    font-size: 20px;
                }
    
            }
            @media (max-width: 294px){
               .klient_img{
                height: 43px;
               }
            }
            @media (max-width: 269px){
                .klient_img{
                 height: 41px;
                }
             }
            @media (max-width: 283px){
                .header__title{
                    font-size: 23px;
                }
            }
            @media (max-width: 248px){
                .header__title{
                    font-size: 21px;
                }
                
            }
            @media (max-width: 257px){
                .reklama-title{
                    font-size: 23px;
                }
                .haeder__text-1{
                    font-size: 19px;
                }
                .reklama-title-1{
                    font-size: 25px;
                }

            }

